<div id="profile">
<h1>My profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>
  
<fieldset class="shadow">
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :size => 20 %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :size => 20 %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height, :size => 20 %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight, :size => 20 %>
  </p>
  <p>
    <%= f.label :gender %><br />
	<%= f.select :gender, %w{Male Female} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  </fieldset>
  
<% end %>
</div>