<h1>Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :gender %><br />
	<%= f.select :gender, %w{Male Female} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Back', root_url %>