
<head>
<%=javascript_include_tag :defaults %>

<h1>New workout_session</h1>
</head>



<% @exers  = Exercise.find(:all) %>
<% @exercise_list = {} %>
<% @exers.each do |e| %>
	<% @exercise_list[e.exercise_type] = e.exercise_type %>
<% end %>
<% @e_list = [] %>
<% @exercise_list.each {|key,value| @e_list << [key, value]} %>

<% form_for([@event, @workout_session]) do |f| %>
  <%= f.error_messages %>
  
  <p>
	
	<label for="exercise_exercise_type">Exercise type</label><br />
	<%= select :exercise, :exercise_type, @e_list, {:prompt=>'Please Select...'}, {:onchange =>"new Effect.SlideDown('selection'); return false"} %><br />
	<%= observe_field (:exercise_exercise_type, :url => {:action => :update_exercise_menu}, 
					:update => :exercise_list_select_div,
					:with => :exercise_type) %>
  </p>
	<div id="selection" >
		<div id="exercise_list_select_div" >
	
		</div>
	</div>
	
	<div id="test">
		<div>
		TEXT HERE
		</div>
	</div>
	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<a href="#" onclick="new Effect.SlideDown('test');return false">CLICK HERE</a>
<%= link_to 'Back', workout_sessions_path %>