<h1>Listing workout_histories</h1>

<table>
  <tr>
    <th>Actual reps</th>
    <th>Actual sets</th>
    <th>Calories</th>
  </tr>

<% @workout_histories.each do |workout_history| %>
  <tr>	
    <td><%=h workout_history.actual_reps %></td>
    <td><%=h workout_history.actual_sets %></td>
    <td><%=h workout_history.calories %></td>
    <td><%= link_to 'Show', [@event, workout_history] %></td>
    <td><%= link_to 'Edit', edit_event_workout_history_path(@event, workout_history) %></td>
    <td><%= link_to 'Destroy', workout_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p style="color: green"><%= flash[:notice] %></p>

<%= link_to 'Back to Event', event_path(@event)%>