

<% if (!flash[:notification].nil? || !flash[:notification 	] == '') %>
<div id="notification">
<p><%= flash[:notification] %></p>
</div>
<% end %>

<div id="graph1">
<%= google_vizualisation_tag(@calories_burned) %>
</div>
<div id="graph2">
<%= google_vizualisation_tag(@pounds_lost) %>
</div>
<div class="clear"></div>
<div id="graph3">
<%= google_vizualisation_tag(@column_chart) %>
</div>
<div id="graph4">
<%= google_vizualisation_tag(@column_chart) %>
</div
<div class="clear"></div>





