<div id="profile">
<h1>Register</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <fieldset class="shadow">
<p>
    Username<br />
    <%= f.text_field :login, :size => 20 %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :size => 20 %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,:size => 20 %>
  </p>
  <%= f.submit "Register" %>
  </fieldset>
<% end %>
</div>