<% if !current_user %>
<div id="nav">
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Log In", login_path %> 
  </div>
<% else %>
<%= render "layouts/navigation" %><br />


<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

