<div id="profile">
<h1>Login</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <fieldset class="shadow">
  <p>
  Username<br />
  <%= f.text_field :login, :size => 20, :class =>'input'%><br />
  </p>
  <p>
  <%= f.label :password %><br />
  <%= f.password_field :password, :size => 20, :class =>'input' %><br />
  </p>

  <%= f.submit "Login", :class =>'button' %>
  </fieldset>
<% end %>
</div>

