<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'fullcalendar', 'gcal', 'application' %>
    <%= stylesheet_link_tag "style", 'fullcalendar', 'jquery-ui', 'dialog', 'application' %>
	<%= google_vizualisation_include_tag %>
</head>
<body>
<div id="container" class="shadow">

<div id="header">
<div id="header-center">
<span id="logo">
<h1><a href="/"><span class="black">Online</span><span class="blue">Exercise</span></a></h1>
</span>
<div id="wrapper">
<div id="info">
	<%= render :partial => "layouts/info" %>
</div>
<div id="nav">
	<%= render :partial => "layouts/navigation" %>
</div>
</div>
</div>
</div>

<div id="content">

<% if (!flash[:notice].nil? || !flash[:notice] == '') %>
<div id="notice">
<p><%= flash[:notice] %></p>
</div>
<% end %>
<% if (!flash[:error].nil? || !flash[:error] == '') %>
<div id="error">
<p><%= flash[:error] %></p>
</div>
<% end %>

<div id="center">
<%= yield %>
</div>
</div>

<div id="footer">
<div id="footer-center">
<p>Copyright &copy; 2010 David Chock, Stephanie Ren, Cavin Woo, Edward Wu. All Rights Reserved.</p>
</div>
</div>

</div>
</body>
</html>

