
 <div id="exercise_info">
<table>
<tr>
	<th>Exercise</th>
	<th>Remove Exercise</th>
	
</tr>
<% @event = Event.find(params[:id]) %>
<% @exercise_list = @event.workout_sessions %> 
	<% @exercise_list.each do |exercise| %>
		<tr>
		<td><%= Exercise.find(exercise.exercise_id).name %></td>
		<td><%= link_to_remote 'Delete', :url => { :controller => "workout_sessions", :action => "destroy", :id => exercise.id, :event_id => @event.id}, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>

	
	
</Table>
</div>
<%= link_to_remote 'Show', :update => 'exercise_info', :url => {:controller => 'workout_sessions', :action => 'render_show', :event_id => @event.id} %>
  
<% @exers  = Exercise.find(:all) %>
<% @exercise_list = {} %>
<% @exers.each do |e| %>
	<% @exercise_list[e.exercise_type] = e.exercise_type %>
<% end %>
<% @e_list = [] %>
<% @exercise_list.each {|key,value| @e_list << [key, value]} %>



<% remote_form_for([@event, @workout_session], :url => make_session_path(@event), :html => {:id => 'workout_session_form' }, :before => "$('#adding_to_session').show();", :complete => "$('#adding_to_session').hide();") do |f| %>
<%= error_messages_for :event, :workout_session %>
  <%= f.error_messages %>
  
  <p>
	
	<label for="exercise_exercise_type">Exercise type</label><br />
	<%= select :exercise, :exercise_type, @e_list, {:prompt=>'Please Select...'} %><br />
	<%= observe_field (:exercise_exercise_type, :url => {:action => :update_exercise_menu}, 
					:update => :exercise_list_select_div,
					:with => :exercise_type)%>
  </p>
	<div id="selection" >
		<div id="exercise_list_select_div" >
	
		</div>
	</div>
	
  <p>
    <%= f.submit 'Add Exercise' %>
  </p>
  
  <p>
  <span id = "adding_to_session" style = "display:none;">Updating, Please wait...</span>
  </p>
<% end %>

