
 <div id="exercise_info">
<table>
<tr>
	<th>Exercise	|</th>
	<th>Edit Exercise	|</th>
	<th>Remove Exercise|	</th>
	<th>Complete Exercise</th>
	<th></th>
	
</tr>
<% @event = Event.find(params[:id]) %>
<% @exercise_list = @event.workout_sessions.find(:all, :joins => :exercise, :order => "name ASC")  %> 
	<% @exercise_list.each do |exercise| %>
		<tr>
		<% @div_id = "exercise_%d" % exercise.id %>
		<td><%= Exercise.find(exercise.exercise_id).name %></td>
		
		
		<td><%= link_to_remote 'Edit', :update =>"exercise_%d" % exercise.id, :url => {:controller => 'workout_sessions', :action => 'render_edit', :event_id => @event.id, :id => exercise.id},
		:before => "$('#adding_to_session').show();",
		:success => "$('#desc_dialog' ).dialog( 'option', 'width', 1050 );$( '#desc_dialog' ).dialog( 'option', 'position', ['top','center']);",
		:complete =>"$('#adding_to_session').hide();$('##{@div_id}').hide(); $('##{@div_id}').fadeIn(1000, function() {}); return false" %></td>
		
		<td><%= link_to_remote 'Delete', :url => { :controller => "workout_sessions", :action => "destroy", :id => exercise.id, :event_id => @event.id}, :confirm => 'Are you sure?', :method => :delete, 
		:before => "$('#adding_to_session').show();",
		:complete => "addSession('#{@event.id}');$( '#desc_dialog' ).dialog( 'option', 'width', 700 );$('#adding_to_session').hide();$( '#desc_dialog' ).dialog( 'option', 'position', ['top','center']); return false" %></td>
		
		<td><%= link_to_remote 'Update', :update =>"exercise_%d" % exercise.id, :url => {:controller => 'workout_histories', :action => 'render_update_actual', :workout_session_id => exercise.id, :id => exercise.workout_history.id}, 
		:before => "$('#adding_to_session').show();",
		:success => "$( '#desc_dialog' ).dialog( 'option', 'width', 1050 );$( '#desc_dialog' ).dialog( 'option', 'position', ['top','center']);",
		:complete =>"$('#adding_to_session').hide();$('##{@div_id}').hide();$('##{@div_id}').fadeIn(1000, function() {});return false" %></td>
		
		<td><div id=<%= @div_id %> style="display:none">
		</div></td>
		</tr>
	<% end %>

	
	
</Table>
</div>
<div id="back_button" style="display:none">
<a href ='javascript:void(0);' onclick="addSession(<%= @event.id %>);$( '#desc_dialog' ).dialog( 'option', 'width', 700 );$( '#desc_dialog' ).dialog( 'option', 'position', ['top','center']);$('#back_button').hide();return false">Back</a>
</div>

<%= link_to_remote 'Show Info', :update => 'exercise_info', :url => {:controller => 'workout_sessions', :action => 'render_show', :event_id => @event.id},
		:before => "$('#adding_to_session').show();$('#back_button').show();",
		:success => "$( '#desc_dialog' ).dialog( 'option', 'width', 1150 );$( '#desc_dialog' ).dialog( 'option', 'position', ['top','center']);",
		:complete =>"$('#adding_to_session').hide();" %>
  
<% @exers  = Exercise.find(:all) %>
<% @exercise_list = {} %>
<% @exers.each do |e| %>
	<% @exercise_list[e.exercise_type] = e.exercise_type %>
<% end %>
<% @e_list = [] %>
<% @exercise_list.each {|key,value| @e_list << [key, value]} %>



<% remote_form_for([@event, @workout_session], :url => make_session_path(@event), :html => {:id => 'workout_session_form' }, :before => "$('#adding_to_session').show();", :complete => "addSession('#{@event.id}'); $('#adding_to_session').hide(); return false") do |f| %>

  <%= f.error_messages %>
  
  <p>
	
	<label for="exercise_exercise_type">Exercise type</label><br />
	<%= select :exercise, :exercise_type, @e_list, {:prompt=>'Please Select...'} %><br />
	<%= observe_field (:exercise_exercise_type, :url => {:action => :update_exercise_menu}, 
					:update => :exercise_list_select_div,
					:with => :exercise_type,
					:before => "$('#adding_to_session').show();",
					:complete =>"$('#exercise_list_select_div').slideDown('slow',function() {});$('#adding_to_session').hide(); return false")%>
  </p>
	<div id="selection" >
		<div id="exercise_list_select_div" >
	
		</div>
	</div>
	
  <%=f.hidden_field :commit_button, :value => ""%>
  <p>
      <%if @event.event_series -%>
		  <%=f.submit 'Add Exercise to Only This Occurence', :onclick => "document.getElementById('workout_session_commit_button').value = this.value"%>
		  <%=f.submit 'Add to All Occurences', :onclick => "document.getElementById('workout_session_commit_button').value = this.value"%>
		  <%=f.submit 'Add to Following Occurrences', :onclick => "document.getElementById('workout_session_commit_button').value = this.value"%>
		  <%else-%>
		  <%=f.submit 'Add Exercise', :onclick => "document.getElementById('workout_session_commit_button').value = this.value"%>
	  <%end-%>

  </p>
  
  <p>
  <span id = "adding_to_session" style = "display:none;">Updating, Please wait...</span>
  </p>
<% end %>

