
  
<table>
<tr>
	<th>Exercise</th>
	<th>Event Id</th>
	<th>Exercise Id</th>
	<th>Expected Reps</th>
	<th>Expected Sets</th>
	<th>Expected Mins</th>
	<th>Actual Reps</th>
	<th>Actual Sets</th>
	<th>Actual Mins</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
	<th>Edit Completed</th>

</tr>
<% @event = Event.find(params[:id]) %>
<% @exercise_list = @event.workout_sessions %> 
	<% @exercise_list.each do |exercise| %>
		<tr>
		<td><%= Exercise.find(exercise.exercise_id).name %></td>
		<td><%= exercise.exercise_id %></td>
		<td><%= exercise.event_id %></td>
		<td><%= exercise.estimated_reps %></td>
		<td><%= exercise.estimated_sets %></td>
		<td><%= exercise.estimated_mins %></td>
		<td><%= exercise.workout_history.actual_reps %></td>
		<td><%= exercise.workout_history.actual_sets %></td>
		<td><%= exercise.workout_history.actual_mins %></td>
		<td><%= exercise.workout_history.actual_reps %></td>
		<td><%= link_to 'X', event_workout_session_path(@event,session) %></td>
		<td><%= link_to 'X', edit_event_workout_session_path(@event, session) %></td>
		<td><%= link_to 'X', [@event, session], :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to 'X',  edit_workout_session_workout_history_path(session)%></td>
		</tr>
	<% end %>

	
	
</Table>

  
  






<% @exers  = Exercise.find(:all) %>
<% @exercise_list = {} %>
<% @exers.each do |e| %>
	<% @exercise_list[e.exercise_type] = e.exercise_type %>
<% end %>
<% @e_list = [] %>
<% @exercise_list.each {|key,value| @e_list << [key, value]} %>



<% remote_form_for([@event, @workout_session], :url => make_session_path(@event), :html => {:id => 'workout_session_form' }, :before => "$('#adding_to_session').show();", :complete => "$('#adding_to_session').hide();") do |f| %>
  <%= f.error_messages %>
  
  <p>
	
	<label for="exercise_exercise_type">Exercise type</label><br />
	<%= select :exercise, :exercise_type, @e_list, {:prompt=>'Please Select...'}, {:onchange =>"new Effect.SlideDown('selection'); return false"} %><br />
	<%= observe_field (:exercise_exercise_type, :url => {:action => :update_exercise_menu}, 
					:update => :exercise_list_select_div,
					:with => :exercise_type) %>
  </p>
	<div id="selection" >
		<div id="exercise_list_select_div" >
	
		</div>
	</div>
	
  <p>
    <%= f.submit 'Add Exercise' %>
  </p>
  
  <p>
  <span id = "adding_to_session" style = "display:none;">Updating, Please wait...</span>
  </p>
<% end %>

