<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_at %><br />
    <%= f.datetime_select :start_at, :twelve_hour => true %>
  </p>
  <p>
    <%= f.label :end_at %><br />
    <%= f.datetime_select :end_at, :twelve_hour => true %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
<<<<<<< HEAD
    <%= f.label :type %><br />
=======
    <%= f.label :event_type %><br />
>>>>>>> ea268219cae6740c56b7a2d6f5ad14d1addf0e55
    <%= f.text_field :event_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Remove', @event, :confirm => 'Are you sure?', :method => :delete %> | 
<%= link_to 'Back', events_path %>