<% if @exercises.present? %>
	<div id="selection">
	<p>
		<label for="id_select">Exercise</label><br />
		<select id="id_select" name="workout_session[exercise_id]" >
			<%= options_from_collection_for_select @exercises, :id, :name %>
		</select>
	</p>
	</div>
	<% @type = params[:exercise_type] %>
	<% if @type != 'cardio' %>
		<p>
			<%= label(:workout_session, :estimated_reps, 'Planned Repititions Per Set') %><br />
			<%= text_field(:workout_session, :estimated_reps) %>
		</p>
		
		<p>
			<%= label(:workout_session, :estimated_sets,'Planned Sets') %><br />
			<%= text_field(:workout_session, :estimated_sets) %>
		</p>
		
		<% if @type != 'calisthenics' %>
			<p>
				<%= label :workout_session, :estimated_weight, 'Weight Lifted' %><br />
				<%= text_field :workout_session, :estimated_weight %>
			</p>
		<% end %>
		
	<% else %>
		<p>
			<%= label(:workout_session, :estimated_mins) %><br />
			<%= text_field(:workout_session, :estimated_mins) %>
		</p>
	<% end %>
			
			
			
<% end %>